body{
    background-image: url(PUP_school_colors.png);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

h1{
    color: yellow;
   width: 400px;
   margin-left: 25px;

} 
   

h2{
    color: yellow;
    width: 400px;
    margin-left: 25px;

}

h3{
    width: 1000px;
    color: white;
    font-weight: 500;
    margin-left: 25px;
  

 }